
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600;700&family=Nunito:wght@400;500;600;700&display=swap');

/*CSS for index.html*/
#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

body { 
    font-family: 'Inter', sans-serif;
    margin: 0 0 0 0;
    max-width: 1600px;
}

span img {
    height: 100px;
    width: 100px;
    padding: 1rem 0 0 0;
}

header {
    text-align: center;
}

header nav ul{
    margin: 0 0 0 0;
    padding: 0;
}

header nav span a{
    font-weight: 900;
}

nav a{
    text-decoration: none;
    color: #252525;
    padding: 0.5rem;
    display: inline-block;
}

#nav_btn {
    margin: 1rem;
}

.btn {
    background-color: #e6bd43;
    padding: 0.5rem;
    font-weight: 900;
    text-decoration: none;
    color: #252525;
}

#header-background {
    background-image: url("https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091_1280.jpg");
    /*Bilde hentet fra pixabay.com (se kilde 5 i dokument)*/
    background-size: cover;
}

#header_text {
  text-align: center;
  padding: 2rem;
  background: rgba(208, 213, 209, 0.6);
}

#subheading {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#about img {
    width: 100%;
    max-width: 400px;
} 

#about {
    background-color: #e6bd43;
    padding: 1.5rem;
}

#about p {
    padding: 0.5rem;
}

#readmore_btn {
    text-decoration: none;
    color: #252525;
    border-style: solid ;
    border-color: #252525;
    padding: 0.5rem;
}

#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

#services h2 {
    display: flex;
    justify-content: center;
    width: 100%;

}

#services h3 {
    display: flex;
    justify-content: center;
    width: 100%;
}

#services article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem;
}

#services i {
    display: flex;
    font-size: 30px;
    width: 100%;
    justify-content: center;
}

#services p {
    display: flex;
    justify-content: center;
    text-align: center;
}


#newsletter {
    background-color: #efefef;
    padding: 2rem;
}

#newsletter h2 {
    font-size: 20px;
}

#newsletter input {
    border: none;
    padding: 1rem;
}

#newsletter_btn {
    padding: 0.9rem;
}

footer {
    text-align: center;
    background-color: #252525;
    padding: 2rem;
}

footer h5 {
    color: white;
    padding: 0.5rem;
}

.social-icons i {
    color: white;
    font-size: 30px;
    padding: 0.5rem;
}

footer img {
    height: 100px;
    width: 100px;
}

/*CSS for products.html*/

#portfolio {
    background-image: url("https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091_1280.jpg");
    /*Bilde hentet fra pixabay.com (se kilde 5 i dokument)*/
    background-size: cover;
}

#portfolio h1 {
    padding: 10rem;
    text-align: center;
    background: rgba(208, 213, 209, 0.6);
}

#previous-jobs {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0 2rem;
}

.previous-jobs_shortcut {
    text-decoration: none;
    color: #252525;
    border-style: solid;
    border-width: 2px;
    border-color: #252525;
    padding: 0.5rem;
    margin: 1rem;;
}

.art_img {
    max-width: 350px;
    min-width: 200px;
    width: 100%;
}

#previous-jobs h2 {
    border-style: solid;
    border-width: 0 0 medium 0;
    border-color:  #e6bd43;
    margin: 2rem;
    width: 100%;
}

#branding {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    padding: 1rem;
    margin: auto;
}

#branding h2{
    border-style: solid;
    border-width: 0 0 medium 0;
    border-color:  #e6bd43;
    margin: 2rem;
    width: 100%;
}

#design {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    padding: 1rem;
    margin: auto;
}

#design h2 {
    border-style: solid;
    border-width: 0 0 medium 0;
    border-color:  #e6bd43;
    margin: 2rem;
    width: 100%;
}

#developement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    padding: 1rem;
    margin: auto;
}

#developement h2 {
    border-style: solid;
    border-width: 0 0 medium 0;
    border-color:  #e6bd43;
    margin: 2rem;
    width: 100%;
}

.artikkelkort {
    padding: 1rem;
    margin: 1rem;
}

.artikkelkort h3 {
    width: 100%;
}

/*CSS for about.html*/

#header_about {
    background-image: url("https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091_1280.jpg");
    /*Bilde hentet fra pixabay.com (se kilde 5 i dokument)*/
    padding: 0.5rem;
    background-size: cover;
    display: flex;
}

#text_background {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgba(251, 255, 251, 0.68);
    padding: 2rem;
    margin: 2rem;
}

#text_background a {
    width: 160px;
}

#clients {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #e6bd43;
    padding: 1rem;
    justify-content: center;
}

#clients h2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

#clients img {
    height: 100px;
    width: 100px;
    padding: 1rem;
}

#contact_us {
    background-color: #efefef;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#contact_us article {
    display: flex;
    flex-direction: column;
}


#contact_us h2 {
    display: flex;
    margin: 0;
    padding: 2rem;
    width: 100%;
    justify-content: center;
}

#contact_us h5 {
    display: flex;
    margin: 0;
    font-size: 20px;
    padding: 2rem;
}

#contact_us form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
}

#inputfelt input {
    display: flex;
    border: none;
    padding: 1rem;
}

#name {
    display: flex;
    border: none;
    max-width: 480px;
    height: 40px;
    width: 100%;
}

#subject {
    display: flex;
    border: none;
    max-width: 480px;
    height: 40px;
    width: 100%;
}

#message {
    display: flex;
    border: none;
    max-width: 480px;
    height: 240px;
    width: 100%;
}

#information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.contact_information {
    align-items: center;
    display: flex;
}

#contact_us i {
    padding: 1rem;
}

#contact_us form label {
    width: 100%;
}

.sumbit_btn {
    border: none;
    background-color: #e6bd43;
    padding: 1rem;
    width: 150px;
    font-weight: bold;
}

#googlemaps {
    width: 100%;
    height: 350px;
}

@media only screen and (min-width:520px) {

    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
    }

    header {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    main {
        grid-column-start: 1;
        grid-column-end: 4;
        
    }

    footer {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    #header_text {
        padding: 6rem;
    }

    nav ul {
        display: flex;
        list-style: none;
    }

    header img {
        height: 100px;
        width: 100px;
    }

    #nav_btn {
        margin: 0;
    }

    footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    #services article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        width: 20%;
        padding: 1.5rem;
    }

    .art_img {
        width: 100%;
        max-width: 692px;
    }

    #branding {
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }

    #design {
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }

    #developement {
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }

    #branding img{
        max-width: 692px;
        min-width: 200px;
        width: 100%;
    }

    #branding_img1 {
        flex-grow: 1;
        flex-basis: auto;
    }

    #branding_img2 {
        flex-grow: 1;
        flex-basis: auto;
    }
    #branding_img3 {
        flex-grow: 1;
        flex-basis: auto;
    }
    #branding_img4 {
        flex-grow: 1;
        flex-basis: auto;
    }

    #design_img1 {
        flex-grow: 1;
        flex-basis: auto;
    }
    #design_img2 {
        flex-grow: 1;
        flex-basis: auto;
    }
    #design_img3 {
        flex-grow: 1;
        flex-basis: auto;
    }

    #developement_img1 {
        flex-grow: 2;
        flex-basis: auto;
    }

    #developement_img2 {
        flex-grow: 2;
        flex-basis: auto;
    } 
    /*Se kilde 3 i dokument*/

    #contact_us {
        display: flex;
    }

    #contact_us article {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #contact_us form {
        flex-direction: column;
        align-content: center;
    }

    #newsletter h2 {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #newsletter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #about p {
        max-width: 500px;
    }

    #about {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #about article {
        padding: 1rem;
    }

    #header_about {
        justify-content: flex-end;
    }

    #text_background {
        width: 50%;
    }

    .hover:hover {
        background-color: #252525;
        color: #e6bd43;
    }

    #readmore_btn:hover {
        background-color: #252525;
        color: #e6bd43;
    }

    .hover_zoom:hover {
        transition: 2s;
        transform: scale(1.1);
    } /*Se kilde 2 i dokument*/

    .active {
        text-decoration-line: underline;
        text-decoration-color: #e6bd43;
        text-decoration-thickness: 3px;
        font-weight: bold;
    } 
}